{% extends "layout.html" %}
{% block body %}
<div class="row text-center">
{% if not current_user.is_authenticated() %}
    <h1>You shouldn't be here. You betta login sucka!</h1>
{% endif %}
</div>
<div class="row text-center">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="input-group">
          <input type="text" class="form-control" onkeypress="searchHandler(event)">
          <span class="input-group-btn">
            <button id="search_button" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div><!-- /input-group -->
    </div>
</div>
</br>
<div id="main_pane" style="display:block">
    <div class="row">
        <div class="col-sm-4">
            <div class="row text-center"><h1>Friends</h1></div>
            <div id="friends_pane" class="row"></div>
        </div>
        <div class="col-sm-4">
            <div class="row text-center"><h2>Computers</h2></div>
            <div id="computers_pane" class="row"></div>
        </div>
        <div class="col-sm-4">
            <div class="row text-center"><h1>Suggestions</h1></div>
            <div id="suggestions_pane" class="row"></div>
        </div>
    </div>
</div>
<div id="results_pane" style="display:none">
    <div class="col-sm-4 col-xs-offset-2">
        <div class="row text-center">
            <h1>Friends</h1>
        </div>
        <div id="friends_results_pane" class="row"></div>
    </div>
    <div class="col-sm-4">
        <div class="row text-center">
            <h1>Suggestions</h1>
        </div>
        <div id="friends_suggestions_results_pane" class="row"></div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type='text/javascript' src="{{ url_for('static', filename = 'js/items.js')}}"></script>
<script type='text/javascript' src="{{ url_for('static', filename = 'js/friends.js')}}"></script>
{% endblock %}
