{% extends "layout.html" %}
{% block body %}
<div class="row text-center">
{% if current_user.is_authenticated() %}
    <br><br>
    <h1>Hello {{current_user.username }}!</h1>
    <br><br>
{% else %}
	<h1>Hello Anonymous! You shouldn't be here. Sucka!</h1>
</div>
{% endif %}
<div class="row">
    <div class="col-sm-4">
        <div class="row">
            <h3>Updates</h3>
        </div>
        <div id="update_pane" class="row"></div>
    </div>
    <div class="col-sm-4">
        <div class="row">
            <h3>Actions</h3>
        </div>
        <div id="actions_pane" class="row"></div>
    </div>
    <div class="col-sm-4">
        <div class="row">
            <h3>Community</h3>
        </div>
        <div id="community_pane" class="row"></div>
    </div>

</div>
{% endblock %}
{% block scripts %}
<script type='text/javascript' src="{{ url_for('static', filename = 'js/items.js') }}"></script>
<script type='text/javascript'>
$(document).ready(function () {
    fetchItems('update_pane', "user_updates");
    fetchItems('actions_pane', "user_action_items");
    fetchItems('community_pane', "community_updates");
});
</script>
{% endblock %}
