{% for item in items %}
    {% if item.visible or True %}
        <!-- item_type will be an item field to provide mixed item lists -->
        {% if item_type == 'friends' or item_type == 'friend_suggestions' %}
            <div id="{{ item.id }}" class='row text-center'>
                <div class="col-md-2 centering"><br><image style="width: 60px" src="{{url_for('static', filename = 'img/' + item.profile_pic)}}"><image></div>
                <div class="col-md-6 col-md-offset-1">
                    <h3>{{ item.name }}</h3>
                    <p><span style="font-size: .7em">{{ item.uptime }}h - 10 cores - 20 mbps</span></p>
                </div>
                {% if item_type == 'friend_suggestions' %}
                <div class="col-md-1"><br>
                    <a href="javascript:addFriend('{{ item.username }}')">
                        <span style="font-size:24px" class="glyphicon glyphicon-plus-sign"></span>
                    </a>
                </div>
                {% elif item_type == 'friends' %}
                <div class="col-md-1"><br><a href="javascript:removeFriend('{{ item.username }}')"><span style="font-size:24px" class="glyphicon glyphicon-remove-circle"></span></a></div>
                {% endif %}
            </div>
        {% elif item_type == 'computers' %}
            <div id="{{ item.id }}" class='row'>
                <div class="col-md-12"><h3>{{ item.name }}</h3></div>
            </div>
        {% elif item_type == 'user_updates' or item_type == 'user_action_items' or item_type == 'community_updates' %}
            <div id="{{ item.id }}" class='row text-left'>
                {% if item_type == 'user_action_items' %}
                <div class="col-xs-2 col-xs-offset-1">
                    <a><span style="font-size:24px" onclick="javascript:deleteItem({{ pane_id }}, {{ item.id }}, '{{ item_type }}')" class="glyphicon glyphicon-ok-circle"></span></a>
                    <a><span style="font-size:24px" onclick="javascript:deleteItem({{ pane_id }}, {{ item.id }}, '{{ item_type }}')" class="glyphicon glyphicon-remove-circle"></span></a>
                </div>
                {% else %}
                <div class="col-xs-1"/>
                {% endif %}
                <div class="col-xs-9"><span style="font-size: 1.5em">{{ item.html }}<span></div>
            </div>
        {% elif item_type == 'jobs' %}
            <div id="{{ item.id }}" class="job pane-item">
                <div class="row text-left">
                    <div class="col-sm-5">
                        <span style="font-size: 1.3em;">{{ item.name }}</span>
                    </div>
                    <div class="col-sm-6">
                        <div class="progress progress-striped active">
                          <div id="{{ item.id }}_active" role="progressbar" class='progress-bar progress-bar-success' style="width: 0%">
                            <span class="sr-only">35% Complete (success)</span>
                          </div>
                          <div id="{{ item.id }}_finished" role="progressbar" class='progress-bar progress-bar-info inactive' style="width: 0%">
                            <span class="sr-only">20% Complete (warning)</span>
                          </div>
                          <div id="{{ item.id }}_error" role="progressbar" class='progress-bar progress-bar-danger' style="width: 0%">
                            <span class="sr-only">10% Complete (danger)</span>
                          </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <a id="kill_{{item.id}}" onclick="javascript:kill_job('{{ item.id }}')"><span class="glyphicon glyphicon-remove-circle"></span></a>
                    </div>
                </div>
            </div>
        {% endif %}
        <br>
    {% endif %}
{% endfor %}