{% extends "layout.html" %}
{% block body %}
    <div class="modal fade bs-job-modal-sm" id="submit_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div style="margin:50px;margin-top:20px">
                    <div class="row text-center">
                        <div class="col-xs-12"><h3>Create New Job</h3></div>
                    </div>
                    <div class="row" style="margin-top:20px">
                        <div class="col-xs-2 text-right">Name:</div>
                        <div class="col-sm-10">
                            <div class="input-group input-group-sm">
                                <form name="input" action="javascript:submit_job()" method="POST">
                                    <input class="form-control" name="job_name" id="job_name_form" type="text"></input>
                                </form>
                                <span class="input-group-addon"><span id="submit_job" action="close" class="glyphicon glyphicon-plus"></span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center">
        {% if has_running_jobs %}
        <div id="jobs_pane" class="col-sm-6"><h1>Jobs</h1>
        {% else %}
        <div id="jobs_pane" class="col-sm-12"><h1>Jobs</h1>
        {% endif %}
            <div class="row">
                <div id="job_pane" class="col-sm-10"></div>
            </div>

            {% if num_jobs == 0 %}
            <div id="no_jobs" class="row text-center">
                <div class="col-sm-12">
                    <h3>No jobs, eh?</h3><p>Click the plus sign to start a new job!</p>
                </div>
            </div>
            </br></br>
            {% endif %}
            <a class="btn" data-toggle="modal" data-target=".bs-job-modal-sm">
                <div class="row text-center">
                    <div class="col-sm-12">
                        <p><span style="font-size: 3em" class="glyphicon glyphicon-plus-sign"></span></p>
                    </div>
                </div>
            </a>
        </div>
        {% if has_running_jobs %}
        <div id="node_pane" class="col-sm-4" style=""><h1>Helpers</h1>
        {% else %}
        <div id="node_pane" class="col-sm-4" style="display:none"><h1>Helpers</h1>
        {% endif %}
            <div id="task_list" class="col-sm-10 col-xs-offset-1">
                {% for name, tasks in (('Joe', 10), ('Sandy', 14), ('Bill', 16)) %}
                <div class="row" style="margin-top:20px">
                    <div class="col-xs-2">
                        <br>
                        <image style="width: 40px" src="{{url_for('static', filename = 'img/computer-avatar.png')}}"></image>
                    </div>
                    <div class="col-xs-4 col-xs-offset-1">
                        <h3>{{name}}</h3>
                    </div>
                    <div class="col-xs-5">
                        <h3><small>{{tasks}} tasks.</small></h3>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="action_pane" class="col-xs-4" style="display:none"><h1>Details</h1></div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{url_for('static', filename='js/items.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jobs.js')}}"></script>
{% endblock %}