{% extends "layout.html" %}
{% block body %}
<br>
  <div class="">
    <br><br><br><br><br><br><br><br><br>
    <div class="row text-center">
      <div class="col-lg-12 tagline">
        <h1>Think community garden,</h1>
        <p class="lead">but with computers.</p>
      </div>
    </div>
    <br><br><br><br><br><br><br><br><br>
    <div class="row text-center">
      <div class="col-xs-2"></div>
      <div class="col-xs-4">
        <div class="centered">
          Learn more
          <p><span class="glyphicon glyphicon-chevron-down"></span></p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="centered">
          <a href="/testdrive" ><button class="btn btn-primary" type="button">Try it out</button></a>
        </div>
      </div>
      <div class="col-xs-2"></div>
    </div>
    <br><br>
  </div>
  <br><br>
  <div class="row text-center">
    <div class="col-xs-12>"><img src="{{ url_for('static', filename = 'img/Description.jpg') }}"></img></div>
  </div>
  <br><br>
  <div class="row text-center">
    <div class="col-xs-12>"><img src="{{ url_for('static', filename = 'img/CreateAndViewJobs.jpg') }}"></img></div>
  </div>
{% endblock %}
