{% extends "layout.html" %}
{% block body %}
<br><br><br><br><br><br><br><br>
<div class="row text-center">
  <div class="col-lg-12">
    <h1>Think community garden,</h1>
    <p class="lead">but with computers</p>
  </div>
</div>
<br><br><br><br><br><br><br><br>
<div class="row text-center">
  <div class="col-xs-2"></div>
  <div class="col-xs-4">
    <div class="centered">
      <button class="btn btn-large btn-primary" type="button">Learn more</button>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="centered">
      <button class="btn btn-large btn-primary" type="button">Try it out</button>
    </div>
  </div>
  <div class="col-xs-2"></div>
</div>
{% endblock %}
