
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <title>Commpute</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for( 'static', filename = 'css/bootstrap.css' )}}" rel="stylesheet">
    <link href="{{url_for( 'static', filename = 'css/commpute.css' )}}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Small modal -->
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="row text-center">
          <div class="col-sm-12">
            <div class="modal-content">
              <br><br>
              <p style="font-size: 1.5em">Log in using:</p>
              <br>

              <a href={{url_for('twitter_login')}}><image style="width: 120px" src="{{url_for('static', filename = 'img/Twitter_logo_blue.png')}}"><image></a>
              <br><br><br>
              <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                  <form action="{{url_for('login') }}" method="post">
                    <div class="input-group">

                      <input name=username type="text" class="form-control" placeholder="Username">
                      <span class="input-group-addon"><input style="border:none;background:none" type="submit" value="Log in"></input></span>
                    </div>
                  </form>
                </div>
              </div>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if showbg %}
    <div class='landing'>
    {% else %}
    <div>
    {% endif %}
      <div id='nav_bar' class="container">
        <div class="header">
          <ul id="nav-pills" class="nav nav-pills pull-right">
            {% if current_user.is_authenticated() %}
              <li id="jobs-nav-pill"><a href="{{url_for('jobs', username=username)}}">Jobs</a></li>
              <li id="friends-nav-pill"><a href="{{url_for('friends', username=username)}}">Friends</a></li>
              <li id="home-nav-pill"><a href="{{url_for('home', username=username)}}">Home</a></li>
              <li>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle noborder" data-toggle="dropdown">
                    <a href="#"><span style="font-size: 1.5em;" class="glyphicon glyphicon-cog"></a>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="{{url_for('settings', username=username)}}">Settings</a></li>
                    <li><a href="{{url_for('node_server', username=username)}}">Node Server</a></li>
                    <li class="divider"></li>
                    <li><a href="{{url_for('logout', username=username)}}">Log out</a></li>
                  </ul>
                </div>
              </li>
            {% else %}
              <li><a  data-toggle="modal" data-target=".bs-example-modal-sm">Log in</a></li> <!-- href="{{url_for('login')}}" -->
              <li class="active"><a href="/signup">Sign up</a></li>
            {% endif %}
          </ul>
          <a href="{{url_for('show_landing')}}" style="text-decoration:none"><h1><span style="color: #4c6e3b;font-family: Helvetica;">Comm</span><span style="color: #e3722e;font-family: Georgia;font-size:1.1em;">pute</span></h3></h1></a>
        </div>
      </div> <!-- /container -->
      
      <div class="container">
        <div class="row">
          <div class="col-xs-4 col-xs-offset-4" id="global-alert"></div>
        </div>
        <div class="page">
          {% block body %}{% endblock %}
        </div>
      </div> <!-- /container -->
  </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script type=text/javascript src="{{url_for('static', filename='js/jquery.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/nav.js')}}"></script>
    {% block scripts %}{% endblock %}

  </body>
</html>
