
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Commpute</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/landing.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <!-- "{{ url_for('static', filename = 'img/background.jpg') }}" -->
  <body>
    <div class="">
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/login">Log in</a></li>
          <li class="active"><a href="/signup">Sign up</a></li>
        </ul>
        <h1><span style="color: #4c6e3b;font-family: Helvetica;">Comm</span><span style="color: #e3722e;font-family: Georgia;font-size:1.1em;">pute</span></h3>
      </div>

    </div> <!-- /container -->
    
    <div class="container">
      <div class=page>
        {% block body %}{% endblock %}
      </div>
    </div> <!-- /container -->
  </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
