{% extends "layout.html" %}
{% block body %}
<div class="row">
    <div class="col-sm-6">
        <h1>Your Info</h1>
        <div class="row">
            <div id="user_prefs_pane" class="col-sm-11"></div>
        </div>
    </div>
    
    <div class="col-sm-5">
        <h1>Your Computers</h1>
        <div id="computers_pane"></div>
    </div>
    
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
$(document).ready(function (){
    $.ajax({
        url: '/user_prefs/' + '{{username}}',
        type: 'get',
        success: function(result){
            $("#user_prefs_pane").html(result.html)
        }
    });
    $.ajax({
        url: '/computers/' + '{{username}}',
        type: 'get',
        success: function(result){
            $("#computers_pane").html(result.html)
        }
    });
});
</script>
{% endblock %}
