{% extends "layout.html" %}
{% block body %}

<div class="container">
  <form class="form-horizontal" id="registration" method='post' action={{url_for('sign_up')}}>
    <fieldset>
      <legend>Registration Form</legend>
      <div class="control-group">
        <label class="control-label">Username:</label>
        <div class="controls">
          <input type="text" id="username" name="username">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Name:</label>
        <div class="controls">
          <input type="text" id="name" name="name">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
          <button type="submit" class="btn btn-success" >Submit</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}
