{% extends "layout.html" %}
{% block body %}
{% if not username %}
<div class="row text-center" style="margin-top:10em">
  <h1>Go ahead and log in first via twitter.<p><small>Then you can signup!</small></p></h1>
</div>
{% else %}
<div class="row text-center" style="margin-top:10em">
  <h1>It looks like you have already logged in.</h1>
  You can access your settings via the cog (<span class="glyphicon glyphicon-cog"></span>)->Settings. Or just jump right in and see your friends, start a job, or go for a walk outside!.
</div>
{% endif %}
{% endblock %}
