{% extends "layout.html" %}
{% block body %}
<div class='row'>
    <div class='col-xs-2 col-xs-offset-4' style="color:grey;font-size:350%;font-family:helvetica;">
        <div class='row' style='margin-top:5px'>
            BYU
        </div>
        <div class='row' style='margin-top:-20px'>
            CS
        </div>
    </div>
    <div class='col-xs-4'>
        <image height="60%" width="60%" src="{{url_for('static', filename = 'img/laptop.png')}}"></image>
    </div>
</div>
<div class='row text-center' style='margin-top:50px'>
    <h1>Your new companion awaits.</h1>
</div>
<div class='row' style='margin-top:50px'>
    <div class='col-xs-8 col-sm-offset-2'>
        <p>Welcome to the Computer Science major! We hope you enjoy these next four years with a stellar laptop at your side. Let’s be honest, you’re super busy as you transition to this new phase of your life and may not have time to research laptops. Never fear! We have developed a set of criteria to help you choose the laptop that is right for you and ranked seven popular models as examples.</p>
        
        <p>We realize we can't rank every laptop out there so we picked the best selling laptops listed on Amazon (link to page) excluding tablets, chromebooks, and non-Intel CPUs. We chose to gather all our data from Amazon.com because it is the largest online laptop retailer. It is also unaffiliated with specific laptop brands. Therefore, we can assume the information and user ratings are unbiased.</p>

        <p>Below you will find explanations of what we measured, how we did it, what we found, and what we thought.</p>
    </div>
</div>
<div class='row text-center' style='margin-top:20px;margin-bottom:20px;'>
    <h1>What we measured</h1>
</div>
<div class='row' style='margin-top:50px'>
    <div class='col-xs-8 col-sm-offset-2'>
        <p>We chose seven criteria by which to judge the laptops. We decided which criteria to include based on our experience in the BYU Computer Science program. In Table 1, we list each criteria in the order of importance. We also include a short explanation of the inclusion and ranking of each criterion.</p>
    </div>
</div>
<div class='row text-center' style='margin-top:15px'>
    <div class='col-sm-2 col-sm-offset-2'>
        <h2><small>What you want.</small></h2>
    </div>
    <div class='col-sm-3'>
        <h2><small>Why you care.</small></h2>
    </div>
    <div class='col-sm-3'>
        <h2><small>How much you care.</small></h2>
    </div>
</div>
{% for c in criteria %}
<div class='row' style='margin-top:20px'>
    <div class='col-sm-2 col-sm-offset-2 text-center'>
        <h3>{{c.name}}</h3>
    </div>
    <div class='col-sm-3'>
        {{c.inc}}
    </div>
    <div class='col-sm-3'>
        {{c.just}}
    </div>
</div>
{% endfor %}
<!-- <div class='row text-center' style='margin-top:50px'>
    <h1>Laptops Rated</h1>
</div>
<div class='row' style='margin-top:20px'>
    <div class='col-xs-4 col-xs-offset-3'>
    <p>HP Envy 15t Quad Edition</p>
    <p>Dell Inspiron i15RV-1435BLK</p>
    <p>Toshiba Satellite C55-A5245</p>
    <p>MacBook Pro 13" with Retina Display</p>
</div>
<div class='col-xs-4'>
    <p>Lenovo IdeaPad U430</p>
    <p>ASUS ROG 6750JM-DS71</p>
    <p>MacBook Air 13"</p>
</div> -->
<!-- </div> -->
<div class='row text-center' style='margin-top:50px'>
        <h1>How we did it.</h1>
    </div>
</div>
<div class='row' style='margin-top:20px'>
    <div class='col-sm-8 col-sm-offset-2'>
        <p>
            In order to calculate the score for each laptop, we first gave each of the criteria a certain weight, all of which added up to 100. We then developed a way to calculate a score for each criterion based on the specifications of the laptop, which we then scaled to the correct weight. We also needed to determine the highest reasonable limit for each criteria in order to scale each one correctly. To do this, we needed to make some assumptions about the highest reasonable limit for each criteria. In Table 2, we list the weight of each criterion out of 100, the calculation of the score, and the assumptions we made in our calculations.
        </p>
    </div>
</div>
<div class='row' style='margin-top:50px'>
    <div class='row' style='margin-top:20px'>
        <div class='col-sm-2 col-sm-offset-2 text-right'>
            <h2><small>Criteria</small></h2>
        </div>
        <div class='col-sm-1 text-center'>
            <h2><small>Weight</small></h2>
        </div>
        <div class='col-sm-2 text-center'>
            <h2><small>Formula</small></h2>
        </div>
        <div class='col-sm-3 text-center'>
            <h2><small>Explaination</small></h2>
        </div>
    </div>
    {% for i, a in enumerate(algorithm) %}
    <div class='row' style='margin-top:20px'>
        <div class='col-sm-2 col-sm-offset-2 text-right'>
            <h4><small>{{i+1}}.</small> {{a.name}}</h4>
        </div>
        <div class='col-sm-1 text-center'>
            <h4>{{a.weight}}</h4>
        </div>
        <div class='col-sm-2 text-center'>
            <image src="{{url_for('static', filename=a.formula)}}"></image>
        </div>
        <div class='col-sm-3'>
            {{a.assumption}}
        </div>
    </div>
    {% endfor %}
</div>
<div class='row text-center' style='margin-top:50px'>
        <h1>What we found.</h1>
    </div>
</div>
<!-- <div class='row' style='margin-top:20px'>
    <div class='col-sm-8 col-sm-offset-2'>
        <p>
            We were surprised that our personal favorite, the MacBook Pro, was outscored so badly by HP, Dell, and Toshiba. Part of this is due to personal preference, we prefer OS X and UNIX instead of Windows. Another fault comes from our assumptions. The ratings online that were such a hefty component of our rankings were done by the price. These are our personal opinions and we hope that you choose the perfect companion for you that will support you in these coming years. But even if you make a poor choice at least this companion is not eternal.
        </p>
    </div>
</div> -->
<div class='row' style='margin-top:50px'>
    <div class='col-sm-10 col-sm-offset-1'>
        {% for r in ranking %}
            <div class="row">
                <div class="col-xs-6 text-right"><h4>{{r.name}}</h4></div>
                <div class='col-xs-6 chart' style="width:{{r.rank*4}}px;">{{r.rank}}</div>
            </div>
        {% endfor %}
    </div>
</div>
<div class='row text-center' style='margin-top:50px'>
    <h3>Score Breakdown</h3>
</div>
<!-- <div class='row' style='margin-top:20px'>
    <div class='col-sm-8 col-sm-offset-2'>
        <p>
            We were surprised that our personal favorite, the MacBook Pro, was outscored so badly by HP, Dell, and Toshiba. Part of this is due to personal preference, we prefer OS X and UNIX instead of Windows. Another fault comes from our assumptions. The ratings online that were such a hefty component of our rankings were done by the average user rather than a programmer and so have different criteria for satisfaction. Also the Mac’s price was a hindrance, part of this stems from the fact that is has such a good display, which adds $200 to the price. These are our personal opinions and we hope that you choose the perfect companion for you that will support you in these coming years. But even if you make a poor choice at least this companion is not eternal.
        </p>
    </div>
</div> -->
<div class='row' style='margin-top:20px'>
    <div class='col-sm-offset-1'>
        <div class='divTable'>
            <div class="headRow">
                <div class='divCell' style="width:200px;background-color:transparent;font-size:1em;height:20px"></div>
                {% for h in breakdown.row_headings %}
                <div class='divCell' style="background-color:transparent;font-size:1em;height:20px">{{h}}</div>
                {% endfor %}
            </div>
            {% for i, e in enumerate(breakdown.rows) %}
            <div class='divRow'>
                <div class='divCell' style="text-align:right;width:200px;background-color:transparent;font-size:1em;">{{breakdown.col_headings[i]}}</div>
                {% for r in e %}
                <div class='divCell'>{{r}}</div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class='row  text-center' style='margin-top:50px;margin-bottom:20px'>
    <h3>In summary</h3>
</div>
<div class='row text-center' style='margin-top:30px'>
    <div class='col-sm-3 col-sm-offset-2'>
        <h1><small>Laptop</small></h1>
    </div>
    <div class='col-sm-2 text-left'>
        <h1><small>Pros</small></h1>
    </div>
    <div class='col-sm-2 text-left'>
        <h1><small>Cons</small></h1>
    </div>
</div>
{% for pc in proscons %}
<div class='row text-center' style='margin-top:30px'>
    <div class='col-sm-3 col-sm-offset-2'>
        <div class='row'>
            <image width=200 height=auto src='{{pc.url}}'></image>
        </div>
        <div class='row'>
            {{pc.name}}
        </div>
    </div>
    <div class='col-sm-2 text-left'>
        {% for p in pc.pro.split("\n") %}
        <p style='font-size:1.2em'>{{p}}</p>
        {% endfor %}
    </div>
    <div class='col-sm-2 text-left'>
        {% for p in pc.con.split("\n") %}
        <p style='font-size:1.2em'>{{p}}</p>
        {% endfor %}
    </div>
</div>
{% endfor %}
<div class='row text-center' style='margin-top:50px'>
    <h1>What we thought.</h1>
</div>
<div class='row' style='margin-top:20px'>
    <div class='col-sm-8 col-sm-offset-2'>
        <p>
            We were surprised that our personal favorite, the MacBook Pro, was outscored so badly by HP, Dell, and Toshiba. Part of this is due to personal preference, we prefer OS X and UNIX instead of Windows. Another fault comes from our assumptions. The ratings online that were such a hefty component of our rankings were done by the average user rather than a programmer and so have different criteria for satisfaction. Also the Mac’s price was a hindrance, part of this stems from the fact that is has such a good display, which adds $200 to the price. These are our personal opinions and we hope that you choose the perfect companion for you that will support you in these coming years. But even if you make a poor choice at least this companion is not eternal.
        </p>
</div>
</div>
<div class='row text-center' style='margin-top:50px'>
    <h1><small>Austin Talbot - Kevin Reece - Nick Pope - Will Myers</small></h1>
</div>
{% endblock %}